header {
    // background-image:url('../../../assets/doseOfColors.png') ;
    background-color: rgb(255, 255, 255);
    min-height: 60px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.header-item {
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: rgb(61, 3, 3);
    font-style: normal;
    font-weight: bold;
}
/*---------------------------------------header--------------------------------------*/

html {
    background-image: url('../../../assets/wavesColors.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

p {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    color: rgb(22, 21, 20);
    margin-top: 20px;
}

.button {
    position: absolute;
    top: 70%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url('../../../assets/wavesColors.jpg');
    color: blanchedalmond;
    font-size: 10px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 13.5px;
    font-weight: bold;
}

.button1Image {
    position: relative;
    width: 264px;
    height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
}

.button2Image {
    position: relative;
    width: 264px;
    height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background-repeat: no-repeat;
}
.button3Image {
    position: relative;
    width: 264px;
    height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-repeat: no-repeat;
}
.button1 {
    position: relative;
    max-width: 300px;
    padding: 40% 40%;
    margin-top: 150px;
    background-repeat: no-repeat;
}

.button2 {
    position: relative;
    max-width: 300px;
    width: 88%;
    padding: 56% 7%;
    padding-top: 20%;
}

.button3 {
    position: relative;
    max-width: 300px;
    width: 88%;
    padding: 56% 7%;
    padding-top: 20%;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: rgb(20, 19, 19);
    font-style: bold;
    font-size: large;
}

.footer-item {
    position: fixed;
    color: rgb(25, 23, 23);
    text-align: center;
    margin-left: 22%;
    bottom: 0;
}
